.containerInicio {
  text-align: center;
}
.containerInputPage {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.containerButton {
  margin-left: 10px;
  display: flex;
}

.btnInfo {
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
}
.content {
  padding: 15px;
}
.popup-content {
  border: 4px solid black !important;
  border-radius: 2em !important;
  width: 90% !important;
  text-align: center;
}

hr {
  margin: 0px;
  width: 450px;
}

.btnEnviar {
  margin-top: 30px;
  margin-left: 5px;
  background-color: #5c9447;
  padding: 10px;
  color: white;
  font-size: 20px;
  border: 1px solid #5c9447;
  border-radius: 0.5em;
  cursor: pointer;
}

.inputSearch {
  width: 300px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 14px;
}
.logoSearch {
  width: 30px;
  height: 30px;
}
.btnOrder {
  margin: 5px;
  background-color: #f67754;
  border: 1px solid #f67754;
  color: white;
  cursor: pointer;
  border-radius: 0.4em;
  font-size: 16px;
  padding: 5px;
}

.containerProducts {
  width: 500px;
}
